@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

div .result-Msg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30px;
  border-radius: 5px;
  background-color: #e0e0e0;
  text-align: center;
  font-size: 1.2rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 480px;
}

.images-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 480px;
  height: 300px;
}

.player1-frame {
  width: 220px;
  height: 220px;
  border: 1px solid #e0e0e0;
  border-radius: 50%;
  background-color: #f0f0f0;
}

.player2-frame {
  width: 220px;
  height: 220px;
  border: 1px solid #e0e0e0;
  border-radius: 50%;
  background-color: #f0f0f0;
}

/* .image-div {
  position: relative;
  top: 10px;
  left: 10px;
  width: 200px;
  height: 200px;
  border: 1px solid #e0e0e0;
  border-radius: 100px;
} */

/* Styles applied to img tags when added to the DOM */
.player1-frame, .player2-frame, img {
  width: 220px;
  border-radius: 50%;
}

.btn-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.btn {
  margin-top: 20px;
  width: 35%;
  font-size: 16px;
  background-color: #3F7FBF;
  color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.btn:hover {
  background-color: #6792bd;
}

.resetBtn {
  margin-top: 20px;
  width: 100%;
  font-size: 16px;
  background-color: #494949;
  color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.resetBtn:hover {
  background-color: #6a6a6a;
}