@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 480px;
}

div .result-Msg {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: 30px;
  border-radius: 5px;
  background-color: #e0e0e0;
  text-align: center;
  font-size: 1.2rem;
}

.result-Msg span {
  margin: 0 3px 0 3px;
}

.images-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 300px;
}

.player1-frame, .player2-frame {
  max-width: 180px;
  max-height: 180px;
  border: 1px solid #e0e0e0;
  margin: 4px;
  border-radius: 50%;
  background-color: #f0f0f0;
}

/* Styles applied to img tags when added to the DOM */
.player1-frame.player2-frame, img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
}

.btn-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.btn {
  margin-top: 20px;
  width: 35%;
  font-size: 16px;
  background-color: #3F7FBF;
  color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.btn:hover {
  background-color: #6792bd;
}

.pressed {
  background-color: '#e0e0e0';
  color: '#636363';
}

.resetBtn {
  margin-top: 20px;
  width: 100%;
  font-size: 16px;
  background-color: #494949;
  color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.resetBtn:hover {
  background-color: #6a6a6a;
}

.img-sources {
  margin-top: 30px;
}

.img-sources p {
  text-align: center;
}

.img-sources a {
  color: rgb(80, 80, 80);
}

.img-sources a:hover {
  color: #3F7FBF;
}
